@charset "utf-8";
/* CSS Document */

.row{
    margin-left: -20px;
    margin-right: -20px;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-5th{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1{
    width: 8.33333333%;
}

.col-2{
    width: 16.6666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33%;
}

.col-5{
    width: 41.6666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width:58.33333333%;
}

.col-8{
    width: 66.6666667%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33333333%;
}

.col-11{
    width: 91.66666667%;
}

.col-12{
    width: 100%;
}

.col-5th{
    width: 20%;
}

@media (max-width: 1000px) {
    .col-4{
        width: 50%;
    }
}

@media (max-width: 600px) {
    .col-4{
        width: 100%;
    }
}