/* Parallax */

.parallax-container{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
}

.debug .parallax-group{
    transform: translate3d(700px, 0, -800px) rotateY(20deg);
}

.parallax-group{
    width: 100%;
    float: left;
    position: relative;
    z-index: 2;
}

.parallax-group.fullheight{
    height: 100vh;
}

.height-of-parent{
    height: 100%;
}

.min-height-of-parent{
    min-height: 100%;
    height: auto;
}

.parallax-group-wrapper{
    /*working in chrome */
    width: 100%;
    overflow: hidden;
    display: flex;
    perspective: 1px;

    /*overflow-y: hidden;*/
    /*display: inline;*/
    /*position: relative;*/
}

.parallax-group-wrapper.perspective-none{
    perspective: none;
}

.parallax-layer{
    min-height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-base{
    position: static;
    width: 100%;
}

/*@supports (transform: translateZ(-1px) scale(3)) {*/
    .parallax-group{
        transform-style: preserve-3d;
    }

    .parallax-layer{
        transform: translate3d(0, 0, 0);
        /*transform-style: inherit;*/
    }

    .parallax-base{
        z-index: 5;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

    .parallax-back{
        z-index: 4;
        transform: translateZ(-1px) scale(2);
        transform: translate3d(0, 0, -1px) scale(2);
        -webkit-transform: translateZ(-1px) scale(2);
        -moz-transform: translateZ(-1px) scale(2);
        -ms-transform: translateZ(-1px) scale(2);
        -o-transform: translateZ(-1px) scale(2);
        transform: translateZ(-1px) scale(2);
    }

    .parallax-deep{
        z-index: 3;
        -webkit-transform: translateZ(-1.9px) scale(3);
        -moz-transform: translateZ(-1.9px) scale(3);
        -ms-transform: translateZ(-1.9px) scale(3);
        -o-transform: translateZ(-1.9px) scale(3);
        transform: translateZ(-1.9px) scale(3);
    }
/*}*/