@charset "utf-8";
/* CSS Document */

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    transition: 0.5s;
}

.experimental-parallax{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 30px;
    background: #4ecdc4;
    z-index: 5000;
    text-align: center;
}

.experimental-parallax:hover{
    cursor: pointer;
}

.experimental-parallax p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 6px;
}

/*
------------------------------------------------------------------- GENERAL -------------------------------------------------------------------
*/

.site-main{
    background: #ffffff;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.mask{
    overflow: hidden;
    /* Width and height in semantic CSS below */
}

.animate{
    transform: translateY(-100%);
}

.animate-below{
    transform: translateY(100%);
}

.animate-below-50{
    transform: translateY(50px);
}

.hidden{
    opacity: 0;
}

.show{
    transform: translateY(0);
    opacity: 1;
}

.block{
    width: 100px;
    height: 100px;
    background: red;
    float: left;
}

.intro-background-image{
    width: 100%;
    height: 100vh;
    background: url("../images/background_557_2.jpg") #151515;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

/* General Fonts */

h1, /* Marijn Kleuskens */
h2, /* Page titles */
h3, /* Highlighted cases title */
h4, /* All cases case title */
h5 /* Content box case title */
{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 52px;
    color: #ffffff;
    line-height: 1.2;
}

h1{
    color: #ffffff;
}

h2{
    margin: 0 0 40px 0;
    font-size: 32px;
}

h2.white{
    color: #ffffff;
}

h2.black{
    color: #2d2d2d;
}

h3{
    font-size: 16px;
    color: #151515;
}

h4{ /* All cases title */
    font-size: 18px;
    color: #2d2d2d;
    text-shadow: none;
}

h5{ /* Content box case title */
    font-size: 42px;
}

p.highlighted-cases-description{ /* Also content box description */
    font-size: 21px;
}

p.all-cases-description{
    font-size: 14px;
    color: #2d2d2d;
    font-weight: normal;
    text-shadow: none;
}

span.italic{
    font-style: italic;
}

span.bold{
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

span.strong{
    font-weight: bold;
}

/* Nav */

a{
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

a:hover{
    cursor: pointer;
    color: #4ecdc4;
}

.nav-trigger{
    position: fixed;
    width: 40px;
    height: 30px;
    top: 40px;
    right: 40px;
    z-index: 100;
}

.nav-trigger,
.nav-trigger span{
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.nav-trigger span{
    display: block;
    margin: 0 0 12px 0;
    height: 2px;
    width: 100%;
    background: #4ecdc4;
}

.nav-trigger span:last-child{
    margin: 0;
}

.nav-trigger:hover{
    cursor: pointer;
}

.nav-trigger.active span.line-1{
    transform: rotate(135deg) translateY(-10px) translateX(10px);
}

.nav-trigger.active span.line-2{
    transform: rotate(-315deg);
    opacity: 0;
}

.nav-trigger.active span.line-3{
    transform: rotate(-135deg) translateY(10px) translateX(10px);
}

.nav-trigger.hidden{
    z-index: 0;
}

.main-nav{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    z-index: 0;
    position: fixed;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    opacity: 0;
    -webkit-transition: z-index 0.5s step-end, 0.5s;
    -moz-transition: z-index 0.5s step-end, 0.5s;
    -ms-transition: z-index 0.5s step-end, 0.5s;
    -o-transition: z-index 0.5s step-end, 0.5s;
    transition: z-index 0.5s step-end, 0.5s;
}

.main-nav ul{
    width: 100%;
    max-width: 200px;
    margin: 40px auto 0 auto;
}

.main-nav ul li{
    margin: 0 0 40px 0;
    padding: 0 0 40px 0;
    width: 100%;
    max-width: 200px;
    border-bottom: 1px solid #2d2d2d;
}

.main-nav ul li:first-child,
.main-nav ul li:last-child{
    border-bottom: none;
}

.main-nav ul li .logo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.main-nav ul li a{
    font-size: 24px;
    font-weight: lighter;
    color: #2d2d2d;
}

.main-nav ul li a.active,
.main-nav ul li a:hover{
    color: #4ecdc4;
}

.main-nav.active{
    opacity: 1;
    z-index: 99;
    -webkit-transition: z-index 0.5s step-start, 0.5s;
    -moz-transition: z-index 0.5s step-start, 0.5s;
    -ms-transition: z-index 0.5s step-start, 0.5s;
    -o-transition: z-index 0.5s step-start, 0.5s;
    transition: z-index 0.5s step-start, 0.5s;
}

.parallax-container,
.all-cases,
.about-contact{
    position: relative;
    z-index: 1;
}

/*
------------------------------------------------------------------- INTRO -------------------------------------------------------------------
*/

.home{
    width: 100%;
    height: 100vh;
    float: left;
    text-align: center;
    position: relative;
}

.home .intro{
    width: 100%;
    float: left;
}

.home .intro .intro-title{
    display:inline-block;
    *display:inline;/* IE*/
    *zoom:1;/* IE*/
    margin: 46vh auto 0 auto;
}

.home .intro .intro-title .logo{
    float: left;
    width: 75px;
    margin: -10px 0 0 0;
}

.home .intro .intro-title h1{
    margin: 0 0 0 40px;
    float: left;
}

.home .intro .intro-subtitle{
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
}

.home .intro .godown{
    width: 100%;
    float: left;
    margin: 200px 0 0 0;
}

.home .intro .godown .down-arrow{
    margin: 0 auto;
    width: 40px;
}

.home .intro .godown .down-arrow img{
    transform: rotate(-90deg);
}

/*
------------------------------------------------------------------- HIGHLIGHTED CASES -------------------------------------------------------------------
*/

.highlighted-cases{
    float: left;
    width: 100%;
    overflow: auto;
    position: relative;
    z-index: 4;
}

.highlighted-case-outer{
    width: 100%;
    padding: 250px 0;
}

.highlighted-case-outer:first-of-type{
    padding: 100px 0 250px 0;
}

.highlighted-case{
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.highlighted-case{
    opacity: 0.8;
    -webkit-filter: grayscale(100%) contrast(130%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(130%);
}

.highlighted-case:hover{
    cursor: pointer;
}

.highlighted-case:hover{
    opacity: 1;
    -webkit-filter: grayscale(0) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);
}

.highlighted-case-aspect-ratio{
    width: 100%;
    display: table;
    padding-top: 56%
    /* 16:9 aspect-ratio */
}

/******
    Text left, description
******/

.highlighted-case .text-left *{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.highlighted-case .text-left{
    height: auto;
    width: 100%;
    position: absolute;
    top: -46px;
    left: 0;
}

.highlighted-case .text-left .description{
    margin: 40px 0 0 0;
}

/*
------------------------------------------------------------------- RUBRICS -------------------------------------------------------------------
*/

.rubrics{
    width: 100%;
    float: left;
    padding: 80px 0 0 0;
    color: #2d2d2d;
    overflow-x: auto;
}

.rubrics h3{
    font-size: 16px;
    position: relative;
    width: 100%;
}

.rubrics h3:before{
    content: "";
    float: left;
    margin-top: -17px;
    font-weight: normal;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    width: 100%;
    text-align: center;
}

.rubrics .row:first-child .col-5th:nth-child(2) h3:before{
    content: "New Brand Activators";
}

.rubrics .row:first-child .col-5th:nth-child(3) h3:before{
    content: "Greenhouse Group";
}

.rubrics .row:first-child .col-5th:nth-child(4) h3:before{
    content: "Handpicked Agencies";
}

.rubrics .row:first-child .col-5th:nth-child(5) h3:before{
    content: "Maerschalk";
}

.rubrics .rubrics-table{
    min-width: 1030px;
}

.rubrics .rubrics-table .col-5th{
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
}

.rubrics .rubrics-table .col-5th:first-child{
    text-align: left;
}

.rubrics .rubrics-table .rubrics-button{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: #4ecdc4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.rubrics .rubrics-table .rubrics-button.in-progress{
    background: #2d2d2d;
}

.rubrics .rubrics-table .rubrics-button.in-progress:hover{
    background: #151515;
}

.rubrics .rubrics-table .rubrics-button:hover{
    background: #0fcda4;
}

.rubrics .rubrics-table-placeholder{
    opacity: 0;
}

/*
------------------------------------------------------------------- DEVIDER -------------------------------------------------------------------
*/

.devider{
    height: 1px;
    float: left;
    width: 100%;
    width: calc(100% - 160px);
    background: #2d2d2d;
    margin: 80px 80px;
}

/*
------------------------------------------------------------------- ALL CASES -------------------------------------------------------------------
*/

.all-cases{
    float: left;
    width: 100%;
    padding: 80px 0;
}

.all-cases h2{
    color: #2d2d2d;
    margin: 0 0 60px 0;
}

.case{
    overflow: hidden;
    text-align: center;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
}

.case:hover{
    cursor: pointer;
}

.case:hover .all-cases-active{
    bottom: 0;
}

.case .image{
    position: relative;
    margin: 0 0 0 0;
    line-height: 0;
}

.case .image img{
    width: 100%;
}

.case .titles h4{
    padding: 20px 0 20px 0;
}

.case .all-cases-active{
    position: absolute;
    width: 100%;
    height: 61px;
    background: #d7d7d7;
    bottom: -61px;
    z-index: -1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/*
------------------------------------------------------------------- ABOUT ME & CONTACT-------------------------------------------------------------------
*/

.about-contact{
    float: left;
    width: 100%;
    background: #151515;
}

.about-contact h2{
    margin: 0 0 20px 0;
}

.about-contact p{
    float: left;
    max-width: 500px;
}

.about,
.contact{
    width: 48%; /*calc fallback*/
    width: calc(50% - 20px);
    padding: 80px 0 0 0;
    float: left;
}

.contact{
    float: right;
}

.contact h2{
    margin: 0 0 40px 0;
}

.contact form{
    max-width: 500px;
}

.contact form label{
    font-size: 16px;
    float: left;
    margin: 0 0 5px 0;
}

.contact form input,
.contact form textarea{
    font-family: "Open Sans", Arial, sans-serif;
    float: left;
    color: #fff;
    border: none;
    border-bottom: 1px solid #2d2d2d;
    padding: 10px;
    width: 100%;
    background: #151515;
    font-size: 14px;
    margin: 0 0 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    -ms-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.contact form textarea{
    min-height: 80px;
    max-width: 100%;
}

.contact form input.true,
.contact form textarea.true{
    border-bottom: 1px solid #4ecdc4;
}

.contact form input.false,
.contact form textarea.false{
    border-bottom: 1px solid #E13436;
}

.contact form input:focus,
.contact form textarea:focus{
    outline: none;
    border-bottom: 1px solid #fff;
}

.contact form .button-container{
    text-align: center;
    float: left;
    width: 100%;
}

.contact form button{
    background: #4ecdc4;
    float: none;
    border: none;
    margin: 20px auto 40px auto;
    padding: 20px 30px;
    width: auto;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.contact form button span.main:before{
    float: left;
    margin: 3px 10px 0 0;
    content: "";
    width: 25px;
    height: 18px;
    background: url(../images/mail.svg) no-repeat;
    background-size: 25px 41px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.contact form button span.d{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.contact form button.success{
    background: #4d4d4d;
}

.contact form button.success span.main:before{
    background-position: 0 -27px;
}

.contact form button.success span.d{
    opacity: 1;
}

.contact form button:focus,
.contact form button:hover{
    background: #0fcda4;
    cursor: pointer;
}

.contact form button.success:focus,
.contact form button.success:hover{
    background: #4d4d4d;
    cursor: auto;
}

.contact form .no-submit{
    -webkit-animation: no-submit 0.25s 2 ease-in-out;
    -o-animation: no-submit 0.25s 2 ease-in-out;
    animation: no-submit 0.25s 2 ease-in-out;
}

@keyframes no-submit{
    15%  {transform: translateX(-10px)}
    75%  {transform: translateX(10px)}
    100% {transform: none}
}

/*
------------------------------------------------------------------- FOOTER-------------------------------------------------------------------
*/

.footer{
    float: left;
    width: 100%;
    background: #2d2d2d;
}

.footer .light-blue{
    float: left;
    width: 100%;
    height: 10px;
    margin: 10px 0 0 0;
    background: #4ecdc4;
}

.footer p{
    padding: 20px 0;
    color: #4d4d4d;
    font-weight: bold;
}

/*
------------------------------------------------------------------- CONTENT BOX -------------------------------------------------------------------
*/

.content-box{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    z-index: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}

.content-box{
    -webkit-transition: z-index 0.5s step-end, 0.5s;
    -moz-transition: z-index 0.5s step-end, 0.5s;
    -ms-transition: z-index 0.5s step-end, 0.5s;
    -o-transition: z-index 0.5s step-end, 0.5s;
    transition: z-index 0.5s step-end, 0.5s;
}

.content-box-inner,
.content-box-header *,
.content-box-inner a.back img{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.content-box-inner .external-link a,
.content-box-inner .text,
.content-box-inner .right{
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.content-box.show{
    z-index: 98;
    -webkit-transition: z-index 0.5s step-start, 0.5s;
    -moz-transition: z-index 0.5s step-start, 0.5s;
    -ms-transition: z-index 0.5s step-start, 0.5s;
    -o-transition: z-index 0.5s step-start, 0.5s;
    transition: z-index 0.5s step-start, 0.5s;
}

.content-box .content-box-header{
    position: relative;
    margin: 40px auto 0 auto;
    width: 90%; /*calc fallback*/
    width: calc(100% - 80px);
    max-width: 1920px;
    flex-shrink: 0;
}

.content-box .content-box-header .title{
    margin: 0 0 20px 60px;
}

.content-box .content-box-header .description{
    margin: 0 auto;
}

.content-box .content-box-header .back{
    position: absolute;
    width: 35px;
    top: 14px;
    right: 60px;
}

.content-box .content-box-header .back:hover{
    cursor: pointer;
}

.content-box .content-box-header .back span{
    display: block;
    width: 100%;
    height: 2px;
    background: #4ecdc4;
}

.content-box .content-box-header .back span:first-child{
    margin: 0 0 21px 0;
}

.content-box .content-box-header .back  span.line-1{
    transform: rotate(135deg) translateY(-8px) translateX(8px);
}

.content-box .content-box-header .back  span.line-2 {
    transform: rotate(-135deg) translateY(8px) translateX(8px);
}

.content-box .content-box-inner{
    height: 100%;
    margin: 40px auto;
    width: 90%; /*calc fallback*/
    width: calc(100% - 80px);
    background: #ffffff;
    max-width: 1920px;
    /*overflow-y: scroll;*/
    overflow: hidden;
    -ms-flex-negative: 1;
}

.content-box .content-box-inner .parallax-group-wrapper{
    background: #000;
}

.content-box .content-box-inner .content-box-intro-text{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 0 0 20%;
    color: #fff;
    font-size: 18px;
}

.content-box .content-box-inner .content-box-intro-text a{
    font-size: 18px;
    color: #4ecdc4;
}

.content-box .content-box-inner .external-link a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    background: #4ecdc4;
    color: #fff;
}

.content-box .content-box-inner .external-link a:hover{
    background: #0fcda4;
}

.content-box .content-box-inner .content-box-intro-background{
    flex: 1;
    width: 100%;
    float: left;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    -webkit-filter: grayscale(100%) contrast(130%) blur(6px);
    -moz-filter: grayscale(100%) contrast(130%) blur(6px);
    -o-filter: grayscale(100%) contrast(130%) blur(6px);
    -ms-filter: blur(6px);
    filter: grayscale(100%) contrast(130%) blur(6px);
}

.content-box .content-box-inner .arrow-down{
    width: 100%;
    position: absolute;
    bottom: 80px;
    display: flex;
    height: 50px;
}

@keyframes arrow-down-bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.content-box .content-box-inner .arrow-down:hover svg{
    cursor: pointer;
    fill: #4ecdc4;
}

.content-box .content-box-inner .arrow-down svg{
    width: 70px;
    margin: 0 auto;
    display: block;
    fill: #f1f1f1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    animation: arrow-down-bounce 2s infinite ease-in-out;
}

.content-box .content-box-inner .content-box-chapter{
    background: #ffffff;
}

.content-box .content-box-inner .content-box-chapter:nth-child(even){
    background: #f1f1f1;
}

.content-box .content-box-inner .left{
    min-height: 100%;
    width: 35%;
    padding: 60px;
    box-sizing: border-box;
    color: #2d2d2d;
    font-weight: normal;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box .content-box-inner .left a{
    color: #4ecdc4;
    font-size: 14px;
}

.content-box .content-box-inner .left .text{
}

.content-box .content-box-inner .left .text p{
    margin: 0 0 20px 0;
}

.content-box .content-box-inner .left .text ul li{
    list-style: disc;
    margin: 0 0 0 20px;
}

.content-box .content-box-inner .right{
    width: 100%;
    max-width: 60%;
    float: right;
    min-height: 100%;
    max-height: 100%;
    padding: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

.content-box .content-box-inner .right .inner{
    float: right;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box .content-box-inner .right .inner .right-wrapper{
    width: 100%;
    display: table;
    margin: 0 0 20px 0;
}

.content-box .content-box-inner .right .inner  .right-wrapper:last-child{
    margin: 0;
}


.content-box .content-box-inner .right .inner .img-wrapper{
    flex: 1;
    display: flex;
    max-width: 100%;
    height: 100%;
}

.content-box .content-box-inner .right .inner .img-wrapper .content-box-image{
    float: right;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-box .content-box-inner .right .inner .yt-wrapper{
    height: 0;
    padding-bottom: 56%;
    position: relative;
}

.content-box .content-box-inner .right .inner .yt-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-box .content-box-inner .right .inner .audio-wrapper{
    color: #2d2d2d;
}

.content-box .content-box-inner .right .inner .audio-wrapper .audiofile{
    width: 100%;
}

.content-box .content-box-inner .right .inner .marijn-slider{
    min-height: 550px;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------- Tablet -------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------
*/
@media (max-width: 999px) {

    /* General */

    .container{
        width: 90%;
        padding: 0;
    }

    /* nav */

    .nav-trigger{
        top: 25px;
        right: 25px;
        width: 30px;
        height: 24px;
    }

    .nav-trigger span{
        margin: 0 0 9px 0;
    }

    .nav-trigger.active span.line-1{
        transform: rotate(135deg) translateY(-8px) translateX(8px);
    }

    .nav-trigger.active span.line-3{
        transform: rotate(-135deg) translateY(8px) translateX(8px);
    }

    .main-nav ul li{
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
    }

    .main-nav ul li .logo{
        width: 40px;
        height: 40px;
        margin: 0 auto 40px auto;
    }

    .main-nav ul li a{
        font-size: 16px;
    }

    /* intro */

    .home .intro .intro-title{
        width: 100%;
        float: left;
    }

    .home .intro .intro-title .logo{
        float: none;
        width: 75px;
        margin: 0 auto 40px auto;
    }

    .home .intro .intro-title h1{
        margin: 0;
        float: left;
        width: 100%;
    }

    /* Highlighted cases */

    .highlighted-case-outer,
    .highlighted-case-outer:first-of-type{
        padding: 60px 0;
    }

    .about-contact p{
        max-width: 100%;
    }

    .about,
    .contact{
        width: 100%;
    }

    .contact form{
        max-width: 100%;
    }

    /* content-box */

    .content-box .content-box-inner .content-box-intro-text{
        width: 100%;
        width: calc(100% - 120px);
        margin: 0 auto;
    }

    .content-box .content-box-inner .left {
        min-height: 0;
        width: 100%;
        display: block;
    }

    .content-box .min-height-of-parent{
        min-height: 0;
        height: auto;
    }

    .content-box .content-box-inner .right {
        padding: 0 60px 60px 60px;
        max-width: 100%;
        min-height: 0;
        max-height: none;
        display: flex;
    }

    .content-box .content-box-inner .right .inner .img-wrapper{
        flex: 1;
        display: table;
        max-width: 100%;
        height: 100%;
    }

    .content-box .content-box-inner .right .inner .img-wrapper .content-box-image {
        max-height: none;
        height: 0;
        padding-bottom: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

}

/*
------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------- Mobile -------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------
*/

@media (max-width: 599px) {

    /* No silly animations */

    .animate,
    .animate-below,
    .animate-below-50{
        transform: none;
    }

    .mask{
        overflow: visible;
        height: auto;
    }

    /* fonts */

    h1{
        font-size: 28px;
    }

    p.highlighted-cases-description{
        font-size: 14px;
    }

    /* Highlighted cases */

    /*.highlighted-case-outer,*/
    /*.highlighted-case-outer:first-of-type{*/
        /*padding: 40px 0;*/
        /*min-width: 0;*/
    /*}*/

    .highlighted-case .text-left{
        top: -40px;
    }

    .highlighted-case .text-left .title{
        width: 100%;
    }

    .highlighted-case .text-left .title h2{
        font-size: 22px;
    }

    .highlighted-case .text-left .description {
        width: 100%;
    }

    /* All Cases */

    .all-cases{
        padding: 40px 0;
    }

    .all-cases h2{
        margin: 0 0 50px 0;
    }

    .case{
        margin: 0 0 40px 0;
    }

    /* About & Contact */

    .about-contact{
        padding: 40px 0;
    }

    .about-contact h2{
        margin: 0 0 50px 0;
    }

    /* Content box */

    .content-box .content-box-header {
        width: calc(100% - 75px);
        margin: 20px 0;
    }

    .content-box .content-box-header .title{
        margin: 0 0 20px 10px;
    }

    .content-box .content-box-header .description{
        margin: 0 0 0 10px;
    }

    .content-box .content-box-header .title h5{
        font-size: 28px;
    }

    .content-box .content-box-header .back{
        position: fixed;
        top: 25px;
        right: 25px;
    }

    .content-box .content-box-inner{
        width: 100%;
        margin: 0;
        border: none;
    }

    .content-box .content-box-inner .content-box-intro-text{
        width: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    .content-box .content-box-inner .left{
        padding: 20px;
    }

    .content-box .content-box-inner .right{
        padding: 0 20px 20px 20px;
    }

}