/******
    MarijnSlider
******/

.marijn-slider{
    width: 100%;
    float: left;
    position: relative;
}

.marijn-slides{
    width: 100%;
    float: left;
    overflow: hidden;
}

.marijn-slider ul li{
    float: left;
    overflow-y: auto;
}

.marijn-slider ul li img{
    width: 100%;
    height: auto;
}

.arrows{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
}

.arrows .arrow a{
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.arrows .arrow-left{
    float: left;
    margin-left: -100px;
}

.arrows .arrow-left.inside{
    margin-left: 100px;
}

.arrows .arrow-right{
    float: right;
    margin-right: -100px;
    transform: rotate(180deg);
}

.arrows .arrow-right.inside{
    margin-right: 100px;
}